* {
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 0px 5px gray;
  z-index: 1;
}

header h1 {
  text-align: center;
  padding: 15px;
}

header ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

header li {
  width: 33.33%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

header li:hover {
  background-color: rgba(120,194, 87, .5);
}

main {
  max-width: 850px;
  width: 100%;
  margin: 110px auto;
}

.posts-loading {
  width: 100px;
  height: 100px;
  background-image: url('icons/loading.gif');
  background-size: 100px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  z-index: 0;
}

.post {
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px gray;
}

.post .line {
  margin: 5px auto;
}

.post img {
  width: 25px;
  height: 25px;
}

.post-options {
  display: flex;
  flex-direction: row;
}

.post-options div {
  width: 20%;
}
